<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script src="/js/jquery.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/search.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <script src="/js/bootstrap.min.js"></script>

  </head>

  <body>

    <form id = "amazonSearchForm" method = "GET" action = "/">
      <textarea required="" id = "amazonSearchText" name = "amazonSearchText"></textarea>
      <input id = "amazonSubmit" type="submit" name="amazonSubmit" value = "search">

    </form>


  </body>
</html>
