<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script src="/js/jquery.js"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/search.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <script src="/js/bootstrap.min.js"></script>

  </head>

  <body>

    <form id = "amazonSearchForm" method = "GET" action = "/">
      <textarea required="" id = "amazonSearchText" name = "amazonSearchText"></textarea>
      <input id = "amazonSubmit" type="submit" name="amazonSubmit" value = "search">

    </form>

  <nav>
      <ul>
        <li><a href="#">Movie</a></li>
        <li><a href="#">Books</a></li>
        <li><a href="#">Restaurants</a></li>
        <li><a href="#">Products</a></li>
      </ul>
    </nav>

    <div class="movies-list">
    <div class="books-list">
    <div class="restaurants-list">
    <div class="products-list">

    <div class="movies-list">
      <dl class="movies">
        <input class="checkbox">
        <img href="#">
        <h4></h4>
        <span class="title"></span>
        <span class="year"></span>
        <span class="genre"></span>
        <span class="synopsis"></span>
      </dl>
    </div>

    <div class="books-list">
      <dl class="books">
        <input class="checkbox">
        <img href="#">
        <h4></h4>
        <span class="title"></span>
        <span class="author"></span>
        <span class="year"></span>
        <span class="genre"></span>
        <span class="synopsis"></span>
      </dl>
    </div>

    <div class="restaurants-list"></div>
      <dl class="restaurants">
        <input class="checkbox">
        <img href="#">
        <h4></h4>
        <span class="title"></span>
        <span class="address"></span>
        <span class="foodtype"></span>
        <span class="description"></span>
      </dl>
    </div>

    <div class="products-list">
      <dl class="products">
        <input class="checkbox">
        <img href="#">
        <h4></h4>
        <span class="title"></span>
        <span class="description"></span>
      </dl>
    </div>

  </body>
</html>
