body {
  margin: 0;
  padding: 0 10px 0 10px;

}

main {

  margin: 0 auto;
  width: 1170px;
  padding: 0px;
  padding-top: 80px;

}

.nav{
  width: 1150px;
  margin-top: 20px;
}

.container{
  background-color: #E1EFF6;
  width: 1150px;

}

.alert{
  text-align: center;
  margin: 0 auto;

}



