img.media-object{
  height: 80px;
  width: 80px;
  border: 2px solid black;
  border-radius: 10px;
}

.movie{
  margin-top: 15px;
}

.movies-list{

}
.books-list{
  display: none;
}
.places-list{
  display: none;
}
.products-list{
  display: none;
}
