img.media-object{
  height: 80px;
  width: 80px;
  border: 2px solid black;
  border-radius: 10px;
}

.media{
  padding-top: 15px;
  background-color: #E1EFF6;
  width: 100%;
}

.movies-list{

}
.books-list{
  display: none;
}
.places-list{
  display: none;
}
.products-list{
  display: none;
}
