.titlecard{
  margin: 0 auto;
  text-align: left;
  margin-bottom: 40px;
  font-weight: bold;
  padding-left: 125px;
}

form#amazonSearchForm{
  display: none;
}
form#yelpSearchForm{
  display: none;
}
form#googleBooksSearchForm{
  display: none;
}
form#tmdbSearchForm{
}

div#searchbar-div{
  width: 100%;
  margin: 0 auto;

}
#searchbar-div{
  margin: 0 auto;
  margin-left: 0;
  margin-right: 0;
}

.suggestions-field img{
  height: 80px;
  width: 80px;
  border: 2px solid black;
  border-radius: 10px;

}

div.row{
  margin-right: 15px;
  margin-left: 15px;
}

input.form-control{
  display: inline-block;
  padding: 0px;
  height: 35.5px;
  line-height: 35.5px;
  vertical-align: middle;
  padding-left: 5px;
}

div.input-group{
  padding: 0px;

}

span.input-group-btn{
  margin: 0 auto;
  padding: 0px;
}
button{
  width: 150px;
}

.suggestion{
  display: inline-block;
  margin: 0 auto;
  width: 30%
}

.suggestion-field {
  padding: 0;
}

.row .col-md-8 .jumbotron{
  background-color: #ffffff;
  opacity: .98;
  border-radius: 10px;
  margin-top: 30px;
}

div.alert.alert-danger{
  margin-top: 15px;
  margin-left: -3.5%;
  width: 107.25%;
}
