
form#amazonSearchForm{
  display: none;
}
form#yelpSearchForm{
  display: none;
}
form#googleBooksSearchForm{
  display: none;
}
form#tmdbSearchForm{
}

div#searchbar-div{
  padding-left: 10%;

}

.suggestions-field img{
  height: 100px;
  width: 100px;
}

.suggestion{
  border: 1px solid black;
}



